#home-container {
    position: relative;
    width: 100%;
    height: 100%;
}
  
#left-container { 
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 0;
    background-color: var(--main);
}

#right-container {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    right: 0;
    background-color: var(--light);
}

#left-content {
    padding: 20%;
}

#right-content {
    padding: 20%;
}